<!DOCTYPE HTML>

<html>
	<head>
		<title>Napalm Death</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<h1 style="font-size: 70px; color: silver;"><span style="color: red;">Na</span>palm <span style="color: red;">De</span>ath</h1>
					<p></p>
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly-middle">Proceed Downwards</a>
				</footer>
			</section>

			<section id="banner">
				<header>
					<h2><span style="color: red">Na</span>palm <span style="color: red">De</span>ath</h2>
				</header>
				<p>Napalm Death is an ardent application of technology in the domain of health care.<br />
				It is backed up by the ironclad features of <span style="font-weight: 400; font-size: 25px; color: orange;">Blockchain</span> in order to maintain perfect <br>unbiasedness and uses accurate and efficient <span style="font-weight: 400; font-size: 25px; color: orange;">Machine Learning</span> algorithms for <br>correct predictions of possible epidemics and detecting irregularities.<br />
				<footer>
					<a href="#first" class="button style2 scrolly" style="color: black;">Start Analysis</a>
				</footer>
			</section>

<iframe title="Blood Banks in India" aria-label="India states and union territories 2017 Symbol map" id="datawrapper-chart-nN0H3" src="//datawrapper.dwcdn.net/nN0H3/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var t in a.data["datawrapper-height"]){var e=document.getElementById("datawrapper-chart-"+t);e&&(e.style.height=a.data["datawrapper-height"][t]+"px")}})}();</script>

<br><br><br>

<iframe title="Blood Banks in India" aria-label="India districts choropleth map" id="datawrapper-chart-YdMMR" src="//datawrapper.dwcdn.net/YdMMR/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var t in a.data["datawrapper-height"]){var e=document.getElementById("datawrapper-chart-"+t);e&&(e.style.height=a.data["datawrapper-height"][t]+"px")}})}();</script>

<br><br>
		<section id="footer">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribble</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>&copy; Untitled. All rights reserved.</li><li>Design by: CYB3RF001</li>
				</ul>
			</div>
		</section>

				<article id="second" class="container box style1 center">
				<div class="inner">
				<a href={{ url_for('fact') }} class="button style2 scrolly" style="color: black;">Get Facts</a>
				</footer>
				</div>
			</article>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.poptrox.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>